
  #p{
    color: black;
  }
  #head
  {
    height: 100%;
    width: 100%;
    background-color: darkslategray;
    margin: 16px auto;
  }
  #inp{
    padding: 15px;
    width: 50%;
    margin: 20px auto;
    margin-bottom: 20px;
    /* margin-top: 100px; */
  
  }
  .table-wrapper-scroll-y {
    display: block;
}
#ipdiv{
  text-align: center;
    margin:20px auto;
    width:40%;
    height:300px;
    box-shadow: 0 2px 3px #ccc;
    border:1px solid #eee ;
    padding: 20px;
    box-sizing: border-box;
}
  #btn1,#t1{
    padding: 15px;
    margin: 15px auto;
    margin-left: 15px;
    width: 7%;
    background-color: floralwhite;
    color: darkslategray;
  }
  .crossed-line {
    text-decoration: line-through;
  }
  #body
  {
    width: 50%;
      background:lightgray;
      padding: 15px;
      margin: 6px 0; 
      font-size: large;
      margin-left: 450px;
  }
  #i1,#i2,#i3{
  float: right;
  margin-left: 20px;
  cursor: pointer;
  }
  #time1,#time2
  {
    padding: 10px;
    width: 15%;
    margin: 20px auto;
    margin-bottom: 20px;
  }
  #date{
    padding: 10px;
    width: 50%;
    margin: 20px auto;
    margin-bottom: 20px;
  }