table,th,td{
    border:1px solid black
}
table{
    border-collapse: collapse;
    align-content: center;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    height: fit-content;
}

th,td{
    padding: 15px;
    text-align: center;
}
#t1
{
    border: ivory;

}
th{
    background-color:black;
    color: whitesmoke;
}